@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TajLight;
  src: url("/fonts/Tajawal-Light.ttf");
}
@font-face {
  font-family: TajRegular;
  src: url("/fonts/Tajawal-Regular.ttf");
}
@font-face {
  font-family: TajMedium;
  src: url("/fonts/Tajawal-Medium.ttf");
}
@font-face {
  font-family: TajBold;
  src: url("/fonts/Tajawal-Bold.ttf");
}

body {
  font-family: TajBold;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

/* أنيميشن الطفو (float) — لو احتجته لاحقًا */
@keyframes float {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-15px) scale(1.05);
  }
}

/* كلاس للبلوب المتحرك */
.blob-animated {
  animation: morph 8s ease-in-out infinite;
}
