@import "tailwindcss";

@font-face {
  font-family: TajLight;
  src: url("/fonts/Tajawal-Light.ttf");
}
@font-face {
  font-family: TajRegular;
  src: url("/fonts/Tajawal-Regular.ttf");
}
@font-face {
  font-family: TajMedium;
  src: url("/fonts/Tajawal-Medium.ttf");
}
@font-face {
  font-family: TajBold;
  src: url("/fonts/Tajawal-Bold.ttf");
}

body {
  font-family: TajBold;
}
